/* Custom CSS */
/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3rem;
}

footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

footer p {
  margin-bottom: .25rem;
}

.jumbotron {
  border-radius:.1rem;
}

/* Used to centre images next to each other on pages */
#centered-image {
	text-align:center;
}

.centered-image {
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
}

.caption {
  font-style: italic;
  font-size: 9px;
  text-align: center;
}

cap {
  text-align: center;
  font-style: italic;
  font-size: 11px;
}
